<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <jmxConfigurator />
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <property scope="local" name="accessLogPattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS} traceid=&quot;%i{x-b3-traceid}&quot; spanid=&quot;%i{x-b3-spanid}&quot; parentspanid=&quot;%i{x-b3-parentspanid}&quot; method=&quot;%m&quot; url=&quot;%U&quot; query=&quot;%q&quot; protocol=&quot;%H&quot; statusCode=&quot;%s&quot; duration=&quot;%D&quot; bytesSent=&quot;%b&quot; remoteIp=&quot;%a&quot; remoteHost=&quot;%h&quot; localIp=&quot;%A&quot; localServer=&quot;%v&quot; localPort=&quot;%localPort&quot; userAgent=&quot;%i{User-Agent}&quot;" />
    <property scope="local" name="fileName" value="${spring.application.home:-.}/logs/sprint-boot-admin.access.log" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${accessLogPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${accessLogPattern}</pattern>
        </encoder>
        <file>${fileName}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${fileName}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender-ref ref="FILE" />
</configuration>
