<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <property scope="local" name="payloadFileName" value="${spring.application.home:-.}/logs/sprint-boot-admin.payload.log" />

    <appender name="PAYLOAD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${payloadFileName}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${payloadFileName}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.zalando.logbook.Logbook" level="ALL" additivity="false">
        <appender-ref ref="PAYLOAD_FILE" />
    </logger>
</configuration>
